#one{
    display: flex;
    justify-content: space-around;
    margin: 50px;
    align-items: center;
    border:2px solid yellowgreen;
    height: 100px;
    width: 100%;
    margin-left: 0;
    background-color: lawngreen;
 
}

#second{
    display: flex;
    justify-content: space-around;
    margin: 50px;
    align-items: center;
    border:2px solid yellowgreen;
    height: 400px;
    width: 80%;
    padding: 20px;
}
#image{
    width: 50%;
    height: 300px;
    border:2px solid yellowgreen;
    overflow: hidden;
}
#image img {
    max-height: 400px;
    max-width: 100%;
    min-height: 300px;
}
